<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RENNEnvironment</key>
	<string>$(RENN_ENVIRONMENT)</string>
	<key>RENNRevenueCatAPIKey</key>
	<string>$(RENN_REVENUECAT_API_KEY)</string>
	<key>RENNSupportURL</key>
	<string>$(RENN_SUPPORT_URL)</string>
	<key>RENNPrivacyURL</key>
	<string>$(RENN_PRIVACY_URL)</string>
	<key>RENNTermsURL</key>
	<string>$(RENN_TERMS_URL)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
