PRODUCT_NAME = RENNTests
PRODUCT_BUNDLE_IDENTIFIER = tzlapp.studio.renn.tests
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
TARGETED_DEVICE_FAMILY = 1
SWIFT_VERSION = 6.0
GENERATE_INFOPLIST_FILE = YES
CODE_SIGN_STYLE = Automatic
TEST_HOST = $(BUILT_PRODUCTS_DIR)/RENN.app/$(BUNDLE_EXECUTABLE_FOLDER_PATH)/RENN
BUNDLE_LOADER = $(TEST_HOST)
